-let currentPage 		= 'home'
-let content 			= 'My Page'
-let siteName 			= 'GulpBoilerplate'
-let pageDescription 	= 'Here is the description Page.' 
-let width 				= 300
-let height 			= 250

doctype html
html(lang='en' prefix='og: http://ogp.me/ns#', class='no-js')
	head
		meta(charset="utf-8")
		meta(name=pageDescription, content=content)
		meta(name="ad.size" content=`width=${width}, height=${height}`)
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="x-ua-compatible" content="ie=edge") 
		link(rel="stylesheet" href="assets/styles.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.12.0/css/OverlayScrollbars.min.css")
		style(rel="stylesheet").
			#banner-wrapper {
				width: '#{width}px'; 
				height: '#{height}px';
				overflow: hidden;
				visibility: hidden;

			}
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
	body
		//- here start the Main Header
		div(id='banner-wrapper')
			h1 lorem
			//- include ./components/canvas
			//- include ./components/json-data
			//- include ./components/markdown
		script(src="assets/scripts-min.js")
